
body {
    font-family:  sans-serif;
}
header{
    background-color:  #4d371e;
}

header>h1{
    height: 5rem;
    background-color:  #4d371e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 2rem;
    padding-left: 1rem;
}
header>h1{
    margin: 0;
}
nav{
    background-color: #4d371e;
    height: 3rem;
    margin: 0;
}

nav ul {
    background-color: #4d371e;
    display: flex;
    flex-direction: column;

}

nav ul li {
    margin-right: 15px;
    color: #fff;
    font-size: 1.3rem;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

nav li a:hover {
text-decoration: underline;
}

.main-menu ul{
    display: flex;
    flex-direction: row;
}
.main-menu ul li {
    margin-right: 15px;
    color: #fff;
    font-size: 1.3rem;
    list-style: none;
}
.library-display{
    display: grid;
    grid: 'auto auto auto';
    grid-template-columns: 20% 60% 20%;
}
.books-display{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: stretch;
}
.book-details{
    background-color: #AAB1B7;
    color: #FFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin: 15px;
}
.available{
    align-items: stretch;
    margin: 0;
    padding: 0ch;
}
.sort{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    align-items: flex-start;

}
.add-remove{
    display: flex;
    flex-direction: column;
}
.single-book-details{
    display: flex;
    flex-direction: column;
    grid-area: info;
}
.author-img{
    display: flex;
    gap: 20px;
}
.book-img{
    grid-area: bookimg;
}
.rm-button{
    grid-area: rmbook;
}
.all-info{
    display: grid;
    grid-template-areas: "info bookimg"
                        "rmbook rmbook"  ;
}
.all-reviews{
    display: flex;
    gap: 20px;
    
}
.review{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100px;
}
.review p{
    width: 10px;
}
.add-review{
    display: flex;
    flex-direction: column;
}
article{
    background-color: bisque;
    margin: 0px 40px 0px 40px;
}

.container {
display: grid;
grid:  'auto auto auto auto' 'auto';
justify-content: center;
}


.row {
grid-template-columns: 25% 25% 25% 25%;
grid-template-rows: 80% 20%;
}

footer {
    color: #FFF;
    background:  #4d371e;
    position: relative;
    padding: 20px;
    height: 18rem;
}
.footer-widget p {
color: #AAB1B7;
font-size: 14px;
font-weight: 400;
line-height: 26px;
color: #AAB1B7;
}
.footer-widget a {
color: #AAB1B7;
}

.anch{
text-decoration: none;
border-radius: 5px;
}
