{% extends 'base.html' %}
{% block content %}
    <div class="library-display">
        <aside class="sort">
            <h2>Sort by Genre</h2>
            <nav>
                <ul>
                    {% for genre in library.genres %}
                    <li>
                        <a href="/books/sort/{{genre}}">{{genre}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
        <div class="books-display">
            {% for book in  library.list_of_books%}
                {% if book.genre == genre %}
                <a class= "anch" href="/books/{{library.list_of_books.index(book)}}">
                    <div class="book-details">
                        <h3>{{book.title}}</h3>
                        <p> Author:  {{book.author}}</p>
                        <p> Gender:  {{book.genre}}</p>
                        <div class="available">
                            {% if book.book_checked %}
                                <h3 class="available" style="background-color: red;">{{book.availability()}}</h3> 
                            {% endif %}
                            {% if book.book_checked == False %}
                                <h3 class="available" style="background-color: green;">{{book.availability()}}</h3> 
                            {% endif %}
                        </div>
                    </div>
                </a> 
                {% endif%}  
            {% endfor %}
        </div>
        <aside class="add-remove">
            <div class="add-book">
                <h2>Add a New Book Here</h2>
                <form  class="add-remove" action="/books/sort/{{genre}}" method="post">
                    <label for="book-name">Book Title</label>
                    <input type="text" name="book-name">
                    <label for="author-name">Author's Name</label>
                    <input type="text" name="author-name">
                    <label for="genre">Genre</label>
                    <input type="text"  name="genre">
                    <input type="submit" name = 'submit' value="Submit">
                </form>
            </div>
            <div>
                <h2>Remove Book by Title:</h2>
                <form class="add-remove" action="/books/sort/{{genre}}" method="post">
                    <label for="book-title">Title of The Book</label>
                    <input type="text" name="book-title">
                    <input type="submit" name = 'remove' value="Remove">
                </form>
            </div>
        </aside>
    </div>
{% endblock %}